<!--
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">BootZard - Bootstrap Wizard Template</a>
		</div>

		<div class="collapse navbar-collapse" id="top-navbar-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<span class="li-text">
						Put some text or
					</span> 
					<a href="#"><strong>links</strong></a> 
					<span class="li-text">
						here, or some icons: 
					</span> 
					<span class="li-social">
						<a href="https://www.facebook.com/pages/Azmindcom/196582707093191" target="_blank"><i class="fa fa-facebook"></i></a> 
						<a href="https://twitter.com/anli_zaimi" target="_blank"><i class="fa fa-twitter"></i></a> 
						<a href="https://plus.google.com/+AnliZaimi_azmind" target="_blank"><i class="fa fa-google-plus"></i></a> 
						<a href="https://github.com/AZMIND" target="_blank"><i class="fa fa-github"></i></a>
					</span>
				</li>
			</ul>
		</div>
	</div>
</nav>
-->

<!-- Top content -->
<div class="top-content">
  <div class="container">
        
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
            <h1>Free <strong>Bootstrap</strong> Wizard</h1>
            <div class="description">
           	    <p>
                    This is a free responsive Bootstrap form wizard. 
                    Download it on <a href="http://azmind.com"><strong>AZMIND</strong></a>, customize and use it as you like!
                </p>
            </div>
        </div>
    </div>
        
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
      	<form role="form" action="api/register" method="post" class="f1">

      		<h3>Register To Our App</h3>
      		<p>Fill in the form to get instant access</p>
      		<div class="f1-steps">
      			<div class="f1-progress">
      			  <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
      			</div>
      			<div class="f1-step active">
      				<div class="f1-step-icon"><i class="fa fa-user"></i></div>
      				<p>about</p>
      			</div>
      			<div class="f1-step">
      				<div class="f1-step-icon"><i class="fa fa-key"></i></div>
      				<p>account</p>
      			</div>
      		    <div class="f1-step">
      				<div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
      				<p>social</p>
      			</div>
      		</div>
      		
      		<fieldset>
      		    <h4>Que tipo de seguro esta buscando:</h4>
      			<div class="form-group">
      			    <label class="sr-only" for="f1-first-name">Soap</label>
                      <input type="text" name="soap" placeholder="soap (seguro obligatorio)" class="f1-first-name form-control" id="f1-first-name">
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="f1-last-name">particular</label>
                      <input type="text" name="particular" placeholder="seguro particular" class="f1-last-name form-control" id="f1-last-name">
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="f1-about-yourself">About yourself</label>
                      <textarea name="f1-about-yourself" placeholder="About yourself..." class="f1-about-yourself form-control" id="f1-about-yourself"></textarea>
                  </div>
                  <div class="f1-buttons">
                      <button type="button" class="btn btn-next">Next</button>
                  </div>
              </fieldset>

              <fieldset>
                  <h4>Set up your account:</h4>
                  <div class="form-group">
                      <label class="sr-only" for="f1-email">clase de Vehiculo</label>
                      <input type="text" name="clase-vehiculo" placeholder="Clase de Vehiculo" class="f1-email form-control" id="f1-email">
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="f1-password">Modelo</label>
                      <input type="text" name="modelo" placeholder="Modelo" class="f1-password form-control" id="f1-password">
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="f1-repeat-password">Ciudad de Circulacion</label>
                      <input type="text" name="ciudad" placeholder="Ciudad de Circulacion" 
                      class="f1-repeat-password form-control" id="f1-repeat-password">
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="f1-repeat-password">Marca del Vehiculo</label>
                      <input type="text" name="marca" placeholder="Marca del Vehiculo" 
                      class="f1-repeat-password form-control" id="f1-repeat-password">
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="f1-repeat-password">Financiado</label>
                      <input type="text" name="financiado" placeholder="Financiado" 
                      class="f1-repeat-password form-control" id="f1-repeat-password">
                  </div>
                  <div class="f1-buttons">
                      <button type="button" class="btn btn-previous">Previous</button>
                      <button type="button" class="btn btn-next">Next</button>
                  </div>
              </fieldset>

              <fieldset>
                  <h4>Social media profiles:</h4>
                  <div class="form-group">
                      <label class="sr-only" for="f1-facebook">Tipo de Documento</label>
                      <input type="text" name="tipo-documento" placeholder="Tipo de Documento" class="f1-facebook form-control" id="f1-facebook">
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="f1-twitter">Numero de Documento</label>
                      <input type="text" name="n-documento" placeholder="Numero de Documento" class="f1-twitter form-control" id="f1-twitter">
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="f1-google-plus">nombre</label>
                      <input type="text" name="nombre" placeholder="nombre" class="f1-google-plus form-control" id="f1-google-plus">
                  </div>
                  <div class="f1-buttons">
                      <button type="button" class="btn btn-previous">Previous</button>
                      <button type="submit" class="btn btn-submit">Submit</button>
                  </div>
              </fieldset>
      	
      	</form>
      </div>
    </div>
            
  </div>
</div>