<div class="row">
  <div class="col-md-6 item">
    <div class="well well-sm">
      <div class="row">
        <div class="col-xs-3 col-md-3 text-center">
          <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp" class="img-rounded img-responsive" />
        </div>
        <div class="col-xs-9 col-md-9 section-box">
	        <h2>
	          {{item.id}} - {{item.name}} <a href="http://bootsnipp.com/" target="_blank"><span class="glyphicon glyphicon-new-window"></span>
	          </a>
	        </h2>
	      	<p>
	          Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framework
	        </p>
	        <hr />
	        <div class="row rating-desc">
	          <div class="col-md-12">
	                                <span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
	                                </span><span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
	                                </span><span class="glyphicon glyphicon-heart"></span>(36)<span class="separator">|</span>
	                                <span class="glyphicon glyphicon-comment"></span>(100 Comments)
	          </div>
	        </div>
        </div>
      </div>
    </div>
  </div>
</div>