<div class="principal">
	<div class="wrap">
		<form class="formulario" action="">
			<div id="center-element">
              <input type="text" id="placa" placeholder="Placa del vehículo ejem abc123" name='placa' [(ngModel)]="placa">
              <input type="button" class="boton" id="btn-buscar" value="Buscar">
            </div>
			
			<p><a routerLink="/register">no tengo placa todavia</a></p>
		</form>
	</div>
</div>
<div class="tareas">
	<div class="wrap">
		<ul class="lista" id="lista">
			<app-item *ngFor="let item of data | search : placa" [item]="item"></app-item>
		</ul>
	</div>
</div>