
.container {
  background: #F8A434;
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  min-height: -moz-fill-available;
}


form {
  width: 450px;
  margin: 17% auto;
}


.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
  display: flex;
}


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}

     
#placa {
  /*width: 75%;*/
  /*background: #FDFCFB;*/
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  /*border-radius: 5px 0 0 5px;*/
}


.btn-buscar {
  width: 25%;
  height: 46px;
  background: rgb(0, 127, 173);
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

.btn-buscar:hover {
  background: #d45d7d;
}
  

input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}

.formulario {
  color: #212121;
  text-align: center;
}

.formulario input[type=text] {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.formulario input[type=text].error {
  border: 5px solid #D32F2F;
  color: red;
}

.formulario .boton {
  background: none;
  border: 1px solid #D32F2F;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 15px;
}
/*
.principal .formulario .boton:hover {
  border: 1px solid #fff;
}
*/
#center-element{
  text-align: center !important;
  display: flex;
  align-items:flex-start;
}
